* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  max-width: 1200px;
  height: 550px;
  margin: 50px auto;
  background-image: url("../images/Banner\ Image.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hero {
  color: #f5ed11;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding-top: 150px;
  max-width: 700px;
  margin: 0 auto;
}
.hero h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 900;
}
.hero h1 {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}
