.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.off-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px 0;
}
.off-para1,
.off-para2,
.off-para3 {
  text-align: center;
  margin-bottom: 10px;
}

.off-para1 {
  color: #ff0000;
  font-size: 80px;
  font-weight: 700;
  margin-top: 70px;
}
.off-para2 {
  color: #ff0000;
  font-size: 30px;
  font-weight: 600;
}
.off-para3 {
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 800;
  color: #070211;
}
