.section3 {
  width: 1320px;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.128),
    rgba(248, 246, 246, 0.568)
  );
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 50px 0;
  border-radius: 10px;

  margin-bottom: 100px;
}

.section3 p {
  font-size: 30px;
  font-weight: 500;
}
.section3 p:nth-child(1) {
  padding-top: 50px;
}
.section3 span {
  color: #ff0000;
}
.btn {
  background-color: #ff0000;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px 25px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}
